/*
*
* IMPORT PARITALS
*
*/
/*
*
* ACTION BAR
*
*/
.actionbar p {
  margin-bottom: 0; }

/*
*
* HEADER 1
*
*/
/*
*
* HEADER 2
*
*/
.header_2 .navbar-collapse {
  justify-content: center; }
  .header_2 .navbar-collapse ul {
    justify-content: center; }
@media (max-width: 967px) {
  .header_2 .order-1 {
    order: 1; }
  .header_2 .order-md-1 {
    order: 2; }
  .header_2 nav {
    justify-content: center; }
    .header_2 nav ul {
      width: 100%;
      justify-content: space-between; }
      .header_2 nav ul li {
        text-align: center; } }

/*
*
* HEADER 3
*
*/
.header_3 .navbar {
  position: absolute;
  z-index: 9;
  width: 100%; }

/*
*
* HEADER 4
*
*/
.header_4 .navbar {
  position: absolute;
  z-index: 9;
  width: 100%; }
.header_4 .navbar-collapse {
  justify-content: center; }
  .header_4 .navbar-collapse ul {
    justify-content: center; }
@media (max-width: 967px) {
  .header_4 .order-1 {
    order: 1; }
  .header_4 .order-md-1 {
    order: 2; }
  .header_4 nav {
    justify-content: center; }
    .header_4 nav ul {
      width: 100%;
      justify-content: space-between; }
      .header_4 nav ul li {
        text-align: center; } }

/*
*
* HEADER 5
*
*/
.header_5 .navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030; }

@media (min-width: 768px) {
  .header_5 .navbar {
    position: fixed;
    bottom: 0;
    width: 20%;
    flex-flow: column nowrap;
    align-items: flex-start;
    right: auto; }
    .header_5 .navbar .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%; }
      .header_5 .navbar .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        .header_5 .navbar .navbar-collapse .navbar-nav .nav-item {
          width: 100%; }
          .header_5 .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
            left: 100%;
            top: 0; }
          .header_5 .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-left: .3em solid;
            border-bottom: .3em solid transparent;
            border-right: none;
            vertical-align: baseline; } }
/*
*
* HEADER 6
*
*/
.header_6 .navbar {
  top: 0;
  right: 0;
  left: auto;
  z-index: 1030; }

@media (min-width: 768px) {
  .header_6 .container {
    width: 80%;
    margin-left: 0;
    max-width: none; }
  .header_6 .navbar {
    position: fixed;
    bottom: 0;
    width: 20%;
    flex-flow: column nowrap;
    align-items: flex-start; }
    .header_6 .navbar .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%; }
      .header_6 .navbar .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%; }
        .header_6 .navbar .navbar-collapse .navbar-nav .nav-item {
          width: 100%; }
          .header_6 .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
            left: 100%;
            top: 0; }
          .header_6 .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-toggle:after {
            border-top: .3em solid transparent;
            border-left: .3em solid;
            border-bottom: .3em solid transparent;
            border-right: none;
            vertical-align: baseline; } }
/*
*
* LOGO STICKY
*
*/
nav.fixed-top .logo-main {
  display: none; }
nav.fixed-top .logo-sticky {
  display: block; }
nav.fixed-top .logo-mobile {
  display: none; }

/*
*
* LOGO MAIN
*
*/
nav:not(.fixed-top) .logo-main {
  display: block; }
nav:not(.fixed-top) .logo-sticky {
  display: none; }
nav:not(.fixed-top) .logo-mobile {
  display: none; }

/*
*
* LOGO MOBILE
*
*/
@media only screen and (max-width: 767px) {
  nav:not(.fixed-top) .logo-mobile {
    display: block; }
  nav:not(.fixed-top) .logo-main {
    display: none; }
  nav:not(.fixed-top) .logo-sticky {
    display: none; } }
/*
*
* SOCIAL
*
*/
ul.social {
  list-style: none outside;
  padding: 12px 0;
  margin: 0; }
  ul.social li {
    display: inline-block;
    margin-right: 12px; }
    ul.social li:last-child {
      margin-right: 0; }

ul.contacts {
  list-style: none outside;
  padding: 12px 0;
  margin: 0; }
  ul.contacts li {
    display: inline-block;
    margin-right: 12px; }

/*
*
* FULL WIDTH
*
*/
.full_width .section-group {
  width: 100%;
  display: block;
  padding: 20px; }

/*
*
* WITH SIDEBAR
*
*/
.with_aside .section-group {
  width: 72%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px; }

.with_aside.aside_left .section-group {
  border-left: 1px solid beige; }
.with_aside.aside_left aside {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: left;
  padding: 20px; }

.with_aside.aside_right .section-group {
  border-right: 1px solid beige; }
.with_aside.aside_right aside {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: right;
  padding: 20px;
  background: var(--primary-color); }

.with_bside .section-group {
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  border-left: 1px solid beige;
  border-right: 1px solid beige; }
.with_bside aside.sidebar_left {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: left;
  padding: 20px; }
.with_bside aside.sidebar_right {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  float: right;
  padding: 20px; }

/*
*
* BODY
*
*/
body {
  background-color: black; }

body:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  height: 100vh;
  width: 100%; }

/*
*
* NAVBAR
*
*/
@media (min-width: 768px) {
  .navbar-nav {
    flex-wrap: wrap; } }

/*# sourceMappingURL=custom.css.map */
