.estimate {
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(-50deg, #fdc502, #fdc502 25%, #ffd237 50%);
  //background: repeating-linear-gradient( -55deg, #fdc502, #fdc502 10px, #ffd237 10px, #ffd237 20px );
  border-radius: 20px;
  text-align: center;
}

