/*
*
* ACTION BAR
*
*/

.actionbar {
  p {
    margin-bottom: 0;
  }

  .social {
    float: right;
  }
}

/*
*
* HEADER 1
*
*/

.header_1 {
  @media (max-width: 991px) {
    nav {
      justify-content: center;

      ul {
        width: 100%;
        justify-content: space-between;

        li {
          text-align: center;
        }
      }

      .dropdown-menu {
        a {
          text-align: center;
        }
      }

    }

  }
}

/*
*
* HEADER 2
*
*/

.header_2 {

  nav {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 5px -2px;
    z-index: 9;
  }

  .navbar-collapse {
    justify-content: center;

    ul {
      justify-content: center;

      li {
        .nav-link {
          padding: 0 20px;
        }
      }
    }
  }


  @media (max-width: 991px) {
    .order-1 {
      order: 1;
    }

    .order-md-1 {
      order: 2;
    }

    nav {
      justify-content: center;


      ul {
        width: 100%;
        justify-content: space-between;

        li {
          text-align: center;
        }
      }
    }

  }

  @media (min-width: 992px) {
    .navbar-collapse {
      width: 40%;
    }

    .logo-nav {
      width: 20%;
    }
  }
}

/*
*
* HEADER 3
*
*/

.header_3 {
  .navbar:not(.fixed-top) {
    position: absolute;
    z-index: 9;
    width: 100%;
  }
}

/*
*
* HEADER 4
*
*/

.header_4 {
  .navbar:not(.fixed-top) {
    position: absolute;
    z-index: 9;
    width: 100%;
  }

  .navbar-collapse {
    justify-content: center;

    @media (min-width: 992px) {
      width: 40%;
    }

    ul {
      justify-content: center;
    }
  }

  .logo-container {
    @media (min-width: 992px) {
      width: 20%;
    }
  }



  @media (max-width: 991px) {
    .order-1 {
      order: 1;
    }

    .order-md-1 {
      order: 2;
    }


    nav {
      justify-content: center;

      ul {
        width: 100%;
        justify-content: space-between;

        li {
          text-align: center;
        }
      }
    }
  }
}

/*
*
* HEADER 5
*
*/

.header_5 {
  .navbar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030
  }
}

@media (min-width: 768px) {
  .header_5 {
    .navbar {
      position: fixed;
      bottom: 0;
      width: 20%;
      flex-flow: column nowrap;
      align-items: flex-start;
      right: auto;

      .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;

        .navbar-nav {
          flex-direction: column;
          width: 100%;

          .nav-item {
            width: 100%;

            .dropdown-menu {
              left: 100%;
              top: 0;
            }

            .dropdown-toggle:after {
              border-top: .3em solid transparent;
              border-left: .3em solid;
              border-bottom: .3em solid transparent;
              border-right: none;
              vertical-align: baseline
            }
          }
        }
      }
    }
  }
}

/*
*
* HEADER 6
*
*/

.header_6 {
  .navbar {
    top: 0;
    right: 0;
    left: auto;
    z-index: 1030;
  }
}

@media (min-width: 768px) {
  .header_6 {

    .container {
      width: 80%;
      margin-left: 0;
      max-width: none;
    }

    .navbar {
      position: fixed;
      bottom: 0;
      width: 20%;
      flex-flow: column nowrap;
      align-items: flex-start;

      .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 100%;

        .navbar-nav {
          flex-direction: column;
          width: 100%;

          .nav-item {
            width: 100%;

            .dropdown-menu {
              left: 100%;
              top: 0;
            }

            .dropdown-toggle:after {
              border-top: .3em solid transparent;
              border-left: .3em solid;
              border-bottom: .3em solid transparent;
              border-right: none;
              vertical-align: baseline
            }
          }
        }
      }
    }
  }
}

/*
*
* LOGO STICKY
*
*/

nav.fixed-top {

  .logo-main {
    display: none;
  }

  .logo-sticky {
    display: block;
  }

  .logo-mobile {
    display: none;
  }
}

/*
*
* LOGO MAIN
*
*/

nav:not(.fixed-top) {

  .logo-main {
    display: block;
  }

  .logo-sticky {
    display: none;
  }

  .logo-mobile {
    display: none;
  }
}

/*
*
* LOGO MOBILE
*
*/

@media only screen and (max-width: 767px) {
  nav:not(.fixed-top) {
    .logo-mobile {
      display: block;
    }

    .logo-main {
      display: none;
    }

    .logo-sticky {
      display: none;
    }
  }
}

/*
*
* SOCIAL
*
*/

ul.social {
  list-style: none outside;
  padding: 12px 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}

ul.contacts,
ul.contacts-mobile {
  list-style: none outside;
  padding: 12px 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 12px;
  }
}


#flags_language_selector {
  float: right;
  padding-left: 0;
  text-align: center;
  padding: 12px 0 0 30px;

  p,
  i {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #999999;
    font-size: 14px;
    margin: 0 5px;
  }

  a p {
    color: #999999;
    font-size: 14px;
    margin: 0 5px;
  }

}

@media only screen and (max-width: 767px) {
  #flags_language_selector {
    display: inline-block;
    margin-bottom: 0;
    color: #999999;
    float: right;
    width: 50%;
  }

  .social {
    display: inline-block;
    float: left !important;
    width: 50%;
  }


}


/*
*
* TITLE
*
*/

.entry-header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


  .header-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    text-align: center;

    &:after {
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, .8) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, .3)), color-stop(18%, rgba(0, 0, 0, 0)), color-stop(28%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .8)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, .8) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, .8) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, .8) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0) 18%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, .8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#cc000000', GradientType=0);
    }
  }

  .header-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 30px;

    .entry-title {}

    .read-down {
      a {
        font-size: 25px;
      }
    }
  }
}